/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1135ff;
  --error: #ef1515;
}
body {
  background: #fbfbfb;
  margin: 0;
  font-family: "Poppins";
  text-align: center;
}
.pages{
  max-width: 100%;
  padding: 20px;
  margin-left:350px;
  text-align: center;
  min-width: 10em;
}
.content{
  display: block;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 20em;
}

/* Navbar */
header {
  background: #fff;
}
header .navbar-main {
  height: 100%; 
  width: 250px; 
  position: fixed; 
  z-index: 1000; 
  background-color: #e0cfcf; 
  padding: 30px; 
  transition: width 0.3s ease;
  font-size: 18px;
  text-align: left;
}

@media (min-width:950px) {
  header .navbar-main:hover {
    width: 300px;
    transition: font-size 0.3s ease;
    font-size: 20px;
  }
}
header a {
  color: #000000;
  text-decoration: none;
  display: block;
}
header a:hover {
  color: var(--primary);
  text-decoration: none;
  display: block;
}
.banner {
  display: flex;
  align-items: center;
}
.icon{
  width: 30px;
  height: 30px;
}

/* Home and profiles */
.post-details {
  background: #fff;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 2px 2px 5px #383838;
  text-align: left;
  min-width: 20em;

}
.post-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #000000;
}
div.username-caption {
  display: flex; 
}
.post-details p {
  margin: 10px 0px;
  font-size: 0.9em;
  color: #555;
}
p.username {
  color: var(--primary);
}
.post-details a {
  text-decoration: none;
}
.post-details span {
  float: right;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  color: #4c4c4c;
}
.post-details span:hover {
  color: var(--error);
}
.post-details img {
  text-align: center;
}
div.profile {
  text-align: center;
  min-width: 22.5em;
}

/* new workout form */
form.create {
  min-width: 22.5em;
}
.create h3{
  text-align: center;
}
label, input {
  display: block;
  text-align: center;
}
.custom-file-upload {
  cursor: pointer;
  text-align: center;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
  min-width: 20em;
}
input[type="file"]{
  display: none
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
.uploaded-image {
  text-align: center;
}
img {
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  text-align: center;
}
div.image{
  text-align: center;
}


img.profile-picture{
  width: 200px;
  border-radius: 50%;
  border: 5px solid #555;
}

@media (max-width: 950px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e0cfcf; 
    z-index: 1000; 
    font-size: 15px
  }
  
  header .navbar-main {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60px;
    width: 100%;
    justify-content: space-between;
  }
  /* header .navbar-main {
    height: 20px; 
    width: 100%; 
  } */
  header .navbar-main:hover {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .banner {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .banner-right {
    display: flex;
    margin-left: auto
  }
  
  .icon {
    width: 30px; /* Set your desired icon size */
    height: 30px;
  }
  
  header a {
    color: #000000;
    text-decoration: none;
    display: block;
  }
  header a:hover {
    color: var(--primary);
    text-decoration: none;
    display: block;
  }
  
  h3 {
    /* font-size: 15px; */
    margin-left: 10px;
  }
  
  h1 {
    font-size: 20px;
    margin: 0 10px;
  }
  
  .profile-picture {
    display: none;
  }
  
  nav {
    margin-left: auto;
    margin-right: 15px;
  }
  
  nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
  
  span {
    font-size: 12px; /* Set your desired font size */
  }
  
  button {
    padding: 5px 10px;
    background-color: #000; /* Set your desired button background color */
    color: #fff; /* Set your desired button text color */
    border: none;
    cursor: pointer;
  }
  .pages{
    margin-left:0px; /* margin on left is gone */
    margin-top: 60px; /* needs to match heigh of navbar */
  }
}


/* Tabs */
.tabs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #d0b16a;
	padding: 50px 10px 10px;
}

.tabs div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap
}

.tablinks {
	padding: 10px 20px;
	margin: 10px;
	font-size: 16px;
	background-color: #f2f2f2;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }