/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1135ff;
  --error: #ef1515;
}
body {
  background: #fbfbfb;
  margin: 0;
  font-family: "Poppins";
  /* border: 5px solid #555; */
  text-align: center;
}
.pages{
  max-width: 100%;
  padding: 20px;
  margin-left:350px;
  text-align: center;
  border: 5px solid #555;
  min-width: 20em;

}
.content{
  /* text-align: center; */
  display: block;
  border: 5px solid #555;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Navbar */
header {
  background: #fff;
}
header .navbar-main {
  height: 100%; 
  width: 250px; 
  position: fixed; 
  z-index: 1000; 
  background-color: #e0cfcf; 
  padding: 30px; 
  transition: width 0.3s ease;
  font-size: 18px;
  text-align: left;
}
header .navbar-main:hover {
  width: 300px;
  transition: font-size 0.3s ease;
  font-size: 20px;
}
header a {
  color: #000000;
  text-decoration: none;
  display: block;
}
header a:hover {
  color: var(--primary);
  text-decoration: none;
  display: block;
}
.banner {
  display: flex
}
.icon{
  width: 20%;
  height: 20%;
}

/* Home and MyProfile */
/* .create { */
  /* margin: 20px 100px; */
  /* left: 400px; */
  /* gap: 100px;; */
/* } */
.post-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px 100px;
  padding: 20px;
  box-shadow: 2px 2px 5px #383838;
  text-align: left;
  border: 5px solid #555;

}
.post-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #000000;
}
div.username-caption {
  display: flex; 
  /* justify-content: space-between; */
}
.post-details p {
  margin: 10px 0px;
  font-size: 0.9em;
  color: #555;
}
p.username {
  color: var(--primary);
}
.post-details a {
  text-decoration: none;
}
.post-details span {
  float: right;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  color: #4c4c4c;
}
.post-details span:hover {
  color: var(--error);
}
.post-details img {
  text-align: center;
}
div.profile {
  text-align: center;
}

/* new workout form */
.create h3{
  text-align: center;
}
label, input {
  display: block;
  text-align: center;
}
.custom-file-upload {
  cursor: pointer;
  text-align: center;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}
input[type="file"]{
  display: none
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
.uploaded-image {
  text-align: center;
}
img {
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  text-align: center;
}
div.image{
  text-align: center;
}


img.profile-picture{
  width: 200px;
  border-radius: 50%;
  border: 5px solid #555;
}


/* authentification */
/* div.authentification {
  text-align: center;
  width: 100%; */
  /* border: 5px solid #555; */

  /* margin-left: 200px; */
  /* border-style: solid;
  border-color: black;
  border: 2px; */
/* } */

.signup {
  text-align: center;
  font-size: 10px;
  border: 5px solid #555;
}
