/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1135ff;
  --error: #ef1515;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .navbar-main {
  height: 100%; 
  width: 200px; 
  position: fixed; 
  z-index: 1000; 
  background-color: #d7d7d7; 
  padding: 30px; 
  transition: width 1s ease;
  font-size: 18px;
}
header .navbar-main:hover {
  width: 300px;
  transition: font-size 0.1s;
  font-size: 20px;
}
header a {
  color: #000000;
  text-decoration: none;
  display: block;
}
header a:hover {
  color: var(--primary);
  text-decoration: none;
  display: block;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin-left:300px;
}

/* Home and MyProfile */
.create {
  margin: 20px 100px;
  left: 400px;
  gap: 100px;
}
.post-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px 100px;
  padding: 20px;
  box-shadow: 2px 2px 5px #383838;
}
.post-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.post-details p {
  margin: 10px 0px;
  font-size: 0.9em;
  color: #555;
}
.post-details span {
  position: relative;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  color: var(--error);
}
.post-details span {
  float: right;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  color: #4c4c4c;
}
.post-details span:hover {
  color: #ae3939;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}